@use '../../../../styles/variables' as *;

.headerFilter {
    width: 256px;
    position: relative;
    background-color: $color-white;
}

.headerFilterMenu {
    width: 256px;
    min-height: 40px;
    height: fit-content;
    border-radius: 10px;
    border: 1px solid $color-gray-background;
    @include flex-between-row;
    border-bottom: 1px solid $color-gray-background;

    .headerFilterActual {
        font-size: 15px;
        font-weight: 400;
        margin-left: 15px !important;
    }

    .headerFilterArrow {
        width: 24px;
        height: 24px;
        margin-right: 15px;
        opacity: 1;
        transition: opacity 180ms cubic-bezier(0.2, 0.9, 0.2, 1);

        &.isFading {
            opacity: 0;
        }
    }
}

.headerFilterList {
    width: 100%;
    position: absolute;
    top: 40px;
    left: 0;
    z-index: 100;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid $color-gray-background;
    overflow: hidden;
    background-color: $color-white;

    transform-origin: top;
    opacity: 0;
    transform: translateY(-6px) scaleY(0.92);
    pointer-events: none;

    transition: transform 320ms cubic-bezier(0.16, 1, 0.3, 1), opacity 220ms cubic-bezier(0.2, 0.9, 0.2, 1);
    will-change: transform, opacity;
}

.headerFilterListItem {
    width: 100%;
    height: 40px;
    @include flex-center-row;
    justify-content: start;
    font-size: 13px;
    font-weight: 500;
    background-color: $color-white;
}

.headerFilterListItem + .headerFilterListItem {
    border-top: 1px solid $color-gray-background;
}

.headerFilterListButton {
    width: 100%;
    height: 40px;
    @include flex-center-row;
    justify-content: start;
    padding-left: 7px;
    font-size: 13px;
    font-weight: 500;
    background-color: $color-white;
    transition: $transition-style;

    &.isActive {
        color: $color-black;
    }
}

.headerFilter.isOpen {
    .headerFilterMenu {
        border-bottom: none;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .headerFilterList {
        opacity: 1;
        transform: translateY(0) scaleY(1);
        pointer-events: auto;
    }
}
