@use '../../../../styles/variables' as *;

.popularProductsCard {
    height: 640px;
    @include flex-center-column;
    justify-content: start;
    opacity: 0;
    transform: translateY(60px);
    transition: transform 700ms ease, opacity 700ms ease;
    will-change: transform, opacity;

    .popularProductCardImage {
        height: 360px;
    }

    .productCardDescription {
        width: 296px;
        height: 200px;
        @include flex-between-column;
        align-items: start;

        .popularProductCardTitle {
            font-size: 33px;
            font-weight: 300;
        }

        .popularProductCardSubtitle {
            font-size: 14px;
            font-weight: 500;
            opacity: 0.4;
        }
    }
}

.popularProductsCard.popularProductsCard--visible {
    opacity: 1;
    transform: translateY(0);
}
