@use '../../../../styles/variables' as *;

.tableProducts{
    .container{
        flex-direction: column;
        width: 100%;
        margin-top: 100px;
        gap: 50px;
    }
}

.noData{
    font-size: 20px;
    font-weight: 500;
    margin-top: 30px;
    background-color: $color-black;
    color: $color-white;
    padding: 15px;
    border-radius: 10px;
}