@use '../../../../styles/variables' as *;

#placingAnOrderInputComment{
    height: 200px !important;
    box-sizing: border-box;
    padding: 12px 14px;
    text-align: left;
    overflow-wrap: break-word;
    word-break: break-word;
    white-space: pre-wrap;
    font-family: $font-default;
    font-size: 14px;
    font-weight: 500;

    &:focus{
        outline: none;
        box-shadow: none;
    }

    &:focus-visible{
        outline: none;
        box-shadow: none;
    }
}

.counterComment{
    font-size: 9px;
    opacity: 0.4;
    font-family: $font-default !important;
}
