@use '../../../../styles/variables' as *;

.productPreviewCharacteristicBlock{
    width: 168px;
    height: 64px;
    border-radius: 10px;
    background-color: $color-gray-background;
    @include flex-center-row;
    justify-content: start;
    margin-top: 10px;
    gap: 5px;

    .characteristicBlockIcon{
        width: 24px;
        height: 24px;
        margin-left: 8px;
    }

    .characteristicBlock{
        @include flex-center-column;
        align-items: start;

        .characteristicBlockTitle{
            font-size: 14px;
            font-weight: 400;
            opacity: 0.4;
        }

        .characteristicBlockDescription{
            font-size: 14px;
            font-weight: 500;
            opacity: 0.8;
        }
    }
}