@use '../../../../styles/variables' as *;

.processorGraph{
    .container{
        flex-direction: column;
        width: 100%;
        margin-top: 100px;
        gap: 50px;
    }

    .taskWrapper{
        width: 100%;
        gap: 20px;
    }

    .processorGraphInfo{
        width: 100%;
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
    }
}
