@use '../../../../styles/variables' as *;

.discountSection{
    min-height: 656px;
    @include flex-center-column;

    .container{
        flex-direction: column;
        gap: 20px;
        align-items: start;
        width: 100%;

        .discountSectionContent{
            @include flex-between-row;
            width: 100%;
        }
    }
}