@use '../../../../styles/variables' as *;

.addToCardButton{
    width: 260px;
    height: 56px;
    border-radius: 10px;
    background-color: $color-black;
    @include flex-center-row;
    color: $color-white;
    font-size: 16px;
    font-weight: 500;
    transition: $transition-style;

    &:hover{
        transform: scale(0.95);
    }
}