@use '../../../../styles/variables' as *;

.processorGraphGraph{
    width: 100%;
    height: clamp(240px, 42vh, 360px);
    border: 1px solid rgba(0, 0, 0, 0.18);
    border-radius: 16px;
    padding: 14px;
    box-sizing: border-box;
    background-color: $color-white;

    canvas{
        width: 100% !important;
        height: 100% !important;
    }
}
