@use '../../../../styles/variables' as *;

.promoBanner{
    width: 720px;
    height: 600px;
    @include flex-center-row;
    justify-content: end;
    background-color: $color-gray-background;

    .promoBannerDescription{
        width: 360px;
        @include flex-center-column;
        align-items: start;
        gap: 20px;

        .promoBannerTitle{
            font-size: 69px;
            font-weight: 100;
            line-height: 56px;

            span{
                font-weight: 500;
            }
        }

        .promoBannerSubtitle{
            font-size: 14px;
            font-weight: 500;
            opacity: 0.4;
        }
    }

    .promoBannerImage{
        width: 292px;
        height: 502px;
    }
}
