@use '../../styles/variables' as *;

.footerSocials{
    @include flex-center-row;
    gap: 20px;
    margin-top: 30px;

    li, a, img{
        width: 16px;
        height: 16px;
    }

    a{
        &:hover{
            opacity: 0.7;
        }
    }
}