@use '../../styles/variables' as *;

.buyNowButton{
    width: 188px;
    height: 48px;
    border-radius: 8px;
    background-color: $color-black;
    color: $color-white;
    font-size: 14px;
    font-weight: 500;
    transition: $transition-style;
    @include flex-center-row;

    &:hover{
        transform: scale(0.95);
    }
}