@use '../../../../styles/variables' as *;

.viewCounterCounter{
    @include flex-center-row;
    gap: 10px;
    background-color: $color-black;
    color: $color-white;
    padding: 15px;
    border-radius: 10px;
    
    p{
        font-size: 24px;
        font-weight: 500;
    }

    h3{
        font-size: 24px;
        font-weight: 500;
    }
}