@use '../../styles/variables' as *;

.catalogCard{
    width: 268px;
    height: 432px;
    border-radius: 10px;
    background-color: $color-gray-background-light;
    @include flex-center-column;
    position: relative;
    gap: 20px;
    margin-top: 15px;

    .favoriteButton{
        position: absolute;
        top: 20px;
        right: 15px;
        width: 32px;
        height: 32px;
        opacity: 0.8;
        transition: opacity $transition-style, transform $transition-style;

        img{
            width: 32px;
            height: 32px;
            display: block;
            transition: opacity $transition-style;
        }

        &:hover{
            opacity: 1;
        }

        &.isActive{
            opacity: 1;
            transform: scale(1.06);
        }
    }

    .productIcon{
        width: 160px;
    }

    .productTitle{
        font-size: 16px;
        font-weight: 500;
        text-align: center;
        max-width: 230px;
    }

    .productPrice{
        font-size: 24px;
        font-weight: 600;
    }
}
